Repository gtmhub/figmaTokens, pull requests merged in 2022-08, with the labels that each got.

#34 Adding a focus state for list and tables
  data/tokens.json
Labels: tokens

#36 Label and tag tokens
  data/tokens.json
Labels: new-components, tokens

#37 Adding a parameter for the icons
  data/tokens.json
Labels: tokens

#38 Update height tokens for md and lg buttons
  data/tokens.json
Labels: tokens

#39 Initial draft with proposal of the timeline component
  data/tokens.json
Labels: new-components, tokens

#40 Updating to match 4.5 to 1 contrast
  data/tokens.json
Labels: enhancement, tokens

#41 Autumn content
  content/alert.json
  content/dialog.json
  content/hint.json
  content/loading messages.json
  content/popover.json
  content/toast.json
Labels: content

#42 Adding a 8px spacing
  data/tokens.json
Labels: tokens

#43 Updating the icon button focus and making the chip use the geenral focus
  data/tokens.json
Labels: tokens

#44 Add menu shadow token
  data/tokens.json
Labels: tokens

#45 Adding label variants to checkbox and radio groups
  data/tokens.json
Labels: tokens, component: checkbox, component: radio
