Repository gtmhub/figmaTokens, pull requests merged in 2022-11, with the labels that each got.

#54 Adding banner tokens
  data/tokens.json
Labels: new-components, tokens, component: notifications

#57 We updated the chip tokens.
  data/tokens.json
Labels: enhancement, tokens

#59 Clean up notifications
  data/tokens.json
Labels: enhancement, tokens, component: notifications

#60 Adding state-related tokens for notifications
  data/tokens.json
Labels: enhancement, tokens, component: notifications

#62 Adding toast button tokens for the focus shadow
  data/tokens.json
Labels: enhancement, tokens, component: notifications
