Repository gtmhub/figmaTokens, pull requests merged in 2022-10, with the labels that each got.

#51 Add notifications and panel
  data/tokens.json
Labels: tokens, component: notifications

#53 consolidating and refactorin list tokens
  data/tokens.json
Labels: tokens, component: list

#30 Rating and notification tokens
  data/tokens.json
Labels: new-components, tokens

#55 Update label background values for a11y
  data/tokens.json
Labels: tokens
