Repository gtmhub/figmaTokens, pull requests merged in 2023-01, with the labels that each got.

#71 link tokens
  data/tokens.json
Labels: link

#70 time picker tokens
  data/tokens.json
Labels: tokens, time picker

#76 Removing error and warning
  data/tokens.json
Labels: tokens, component: notifications

#72 Bumping up the normal label's background colors
  data/tokens.json
Labels: enhancement, component: label
